* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: orange;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 5px solid orange;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1040px;
  width: 100%;
  height: 100px;
  padding: 0 20px;
}
nav > a {
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  color: orange;
  transition: 0.4s linear;
}
nav > a:visited {
  color: orange;
}
nav > a:hover {
  color: #dd3b3b;
}
main {
  padding: 20px;
  width: 100%;
}
.App {
}
